# Quickstart Notebook — Python Avanzado
Comprobamos lectura de datos, filtrado y gráficos rápidos.

In [2]:
import pandas as pd
import numpy as np

pd.__version__, np.__version__

('2.3.1', '2.3.1')

In [13]:
# Importar librerías
import pandas as pd

# Leer dataset
df = pd.read_csv("../datasets/ventas.csv")
df.select_dtypes(include='number').abs()


# df.head()

   cantidad  precio
0        10     5.2
1         4     7.1
2         6     5.0
3         9     3.9
4         7     7.2
5         2     4.1